body {
  overflow: scroll;
}
main {
  padding: 0 1%;
  display: inline-block;
}
header {
  text-align: center;
  font-weight: bold;
  position: fixed;
  width: 98.75%;
  background-color: white;
  transform: translateY(-13%);
  border-bottom: 2px solid grey;
  box-shadow: 2px 2px 30px;
  z-index: 100;
  background-image: url("../images/header.JPG");
  background-size: 100%;
}
h1 {
  font-size: 7vw;
  color: #2F75A5;
  width: 80%;
  display: inline-block;
  text-align: center;
  transform: translateX(6%);
}
h2 {
  text-align: center;
  font-size: 6vw;
}
img {
  width: 45%;
  margin-top: 2%;
}
p {
  text-align: center;
}
hr {
  margin: 2%;
}
.main {
  width: 100%;
  float: none;
  display: block;
  padding: 0;
  border-bottom: 10px solid black;
}
section {
  margin-top: 0;
  overflow: auto;
  text-align: center;
}
section p{
  margin: 0%;
  width: 100%;
  margin-bottom: 4%;
  font-size: 2.5vw;
}
article {
  overflow: auto;
  border-bottom: 4px solid grey;
  margin-bottom: 7%;
}
article p {
  width: 55%;
  display: inline-block;
  margin: 2%;
  text-align: left;
  font-size: 2.5vw;
  line-height: 150%;

}
aside img {
  float: right;
  border: 8px solid #8F6D3F;
  border-radius: 2%;
  padding: 0;
  width: 30%;
  height: 18vh;
  margin-right: 3%;
  margin-bottom: 3%;
}
aside p {
  width: 60%;
  text-align: left;
  font-size: 2.5vw;
  margin: 0 2% 5% 2%;
  line-height: 200%;
}
aside {
  width: 100%;
  display: inline-block;
  margin-top: 5%;
}
.h3 {
  display: inline-block;
  padding: 2%;
  font-size: 4vw;
  margin-top: 1%;
  background: none;
  margin-bottom: 1%;
  font-weight: bold;
}
.h3:hover {
  cursor: pointer;
  opacity: 0.3;
}
nav {
  background-image: url("../images/index-header.JPG");
  text-align: center;
}
#myLinks {
  display: none;
  padding: 2%;
  background-image: none;
  background-color: #E2FCFF;
  font-size: 3vw;
}
nav a {
  text-decoration: none;
  color: black;
  margin: 1% 1%;
  width: 40%;
}
#book {
  float: right;
  margin: 7% 12% 7% 0;
  color: #AEE8F6;
}
footer {
  width: 96%;
  padding: 3%;
  background-image: url("../images/footer.jpg");
  font-size: 3vw;
  background-size: 100%;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px;
}
footer p {
  text-align: center;
  margin: 7% 0;
  font-family: "Comic Sans MS";
}
#get_involved {
  border: none;
  border-right: 5px solid grey;
  padding-right: 2%;
  color: #2F75A5;
}
#recommend {
  border: none;
  border-left: 5px solid grey;
  padding-right: 2%;
}
#genres {
  border: none;
}
#bars {
  float: right;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 8vw;
  vertical-align: middle;
}
.fa-bookmark {
  color: rgb(106, 171, 255);
  transform: translateY(-3%);
  float: left;
  border-radius: 0;
  z-index: -1;
}
.a-button {
  width: auto;
  height: auto;
  background-color: lightblue;
  color: black;
  font-size: 3vw;
  margin: 2%;
  border-radius: 3px;
  box-shadow: 4px 4px 6px;
  padding: 4%;
  text-decoration: none;
  background-image: url("../images/button.JPG");
  background-size: 100%;
  margin-left: 0.5%;
}
.a-button:hover {
  cursor: pointer;
}
summary {
  text-align: left;
  font-weight: bold;
  border: 0.5px double black;
  background-color: #CCDBDF;
  box-shadow: 4px 4px 8px;
  font-size: 3vw;
  border-radius: 5px;
}
details {
  border: 1px solid black;
  background-color: #BAE8FF;
  background-image: url("../images/details-mobile.jpg");
  background-size: 125%;
  background-repeat: no-repeat;
}
.books {
  width: 40%;
  height: auto;
  margin: 2%;
  border: 2px solid black;
}
table {

}
u {
  font-size: 5vw;
  display: block;
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}
ul, .ul{
  padding: 2%;
  text-align: left;
}
details ul, details .ul {
  text-align: center;
  margin: 1.5%;
}
.next-page {
  font-size: 5vw;
  margin: 5%;
}
th {
  background: repeating-linear-gradient(
    -55deg,
    lightblue,
    lightblue 10px,
    lavender 10px,
    lavender 20px
  );
  padding: 2%;
  color: black;
  font-weight: bold;
  font-size: 3vw;
}
td {
  font-size: 175%;
  padding: 2%;
}
table {
  margin: 2% auto;
  border-radius: 3px;
  background-image: linear-gradient(to right, rgba(102, 22, 209, 0.7), rgba(22, 171, 209, 0.7));
  border: 2px solid black;
}
table th, table td {
  border: 2px solid black;
}
.genres-list {
  display: block;
}
.images-list {
  display: none;
}
.genre-ref {
  display: none;
}
.penguin {
  width: 25%;
  border: 2px solid black;
  margin-bottom: 2%;
}
aside:nth-child(odd) {
  background-color: #EBFBFE;
}
aside:nth-child(even) {
  background-color: #EBF1FE;
}
#access {
  position:absolute;
  left:-10000px;
  top:auto;
  overflow:hidden;
  font-size: 2vw;
  display: block;
  text-align: center;
}
#access:focus {
  position:static;
  width:auto;
  height:auto;
}
#animation {
  width: 20%;
  margin: 0 40%;
}
.ref-img {
  width: 30%;
}
.active {
  background: -webkit-linear-gradient(blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.button {
  background-color: #E2FCFF;
  color: black;
  font-size: 3vw;
  margin: 2%;
  border-radius: 3px;
  box-shadow: 4px 4px 6px;
  padding: 4%;
  text-decoration: none;
  background-image: none;
}
.button:hover {
  cursor: pointer;
}
tr:hover {
  opacity: 1;
  background-image: linear-gradient(to right, #6616D1, #16ABD1);
}

/* MEDIA QUERY ________________________________ MEDIA QUERY ________________________________ MEDIA QUERY ________________________________ MEDIA QUERY ______________________________ MEDIA QUERY ______________________________ MEDIA QUERY*/

@media(min-width:1000px) {
  #bars {
    display: none;
  }
  #myLinks {
    display: inline-block;
    background-image: none;
    width: 60%;
    text-align: right;
    margin-left: 3%;
    padding: 1%;
    font-size: 2vw;
    background-color: transparent;
  }
  .button {
    padding: 1%;
    font-size: 2vw;
  }
  .main {
    width: 80%;
    margin: 0 auto;
    border: none;
  }
  nav a {
   border: none;
   margin: 0 0.5%;
  }
  h1 {
    display: inline-block;
    width: 25%;
    font-size: 3.5vw;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
  }
  h2 {
    font-size: 3vw;
  }
  section p{
    display: inline-block;
    width: 60%;
    font-size: 1.5vw;
    text-align: left;
    line-height: 250%;
    vertical-align: top;
  }
  section img {
    display: inline-block;
    margin: 2%;
    width: 30%;
  }
  header {
    transform: translateY(-10%);
  }
  .h3 {
    font-size: 2.5vw;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #genres {
    padding-right: 8%;
    padding-left: 8%;
  }
  #get_involved {
    padding-right: 4%;
    padding-left: 4%;
  }
  #recommend {
    padding-left: 4%;
    padding-right: 4%;
  }
  article {
    text-align: center;
  }
  article p {
    width: 80%;
    text-align: center;
    font-size: 1.5vw;
    line-height: 150%;
  }
  #book {
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 2%;
  }
  aside p{
    font-size: 1.5vw;
    line-height: 250%;
    vertical-align: top;
  }
  aside img {
    height: 50vh;
  }
  .books {
    height: auto;
    width: 15%;
  }
  hr {
    display: none;
  }
  ul, .ul {
    text-align: center;
    font-size: 1.5vw;
    display: inline-block;
    width: 40%;
  }
  details li, details .li {
    text-align: left;
    line-height: 150%;
    transform: translateX(10%);
    width: 60%;
    font-size: 1.5vw;
    display: inline-block;
    vertical-align: top;
    transform: translateX(-5%);
  }

  .ul img {
    display: inline-block;
  }
  details p {
    width: 90%;
    margin-bottom: 0;
    line-height: 150%;
    margin-top: 2%;
  }
  .inline-p {
    width: 45%;
    vertical-align: top;
  }
  u {
    font-size: 3vw;
  }
  .arrow {
    vertical-align: middle;
    margin: 0;
  }
  footer {
    font-size: 2vw;
    width: 99.6%;
    padding: 0.2%;
  }
  #top-5-img {
    display: inline-block;
  }
  summary {
    padding: 1%;
    font-size: 2vw;
  }
  details {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    background-image: url("../images/details-back.JPG");
  }
  .involved-images {
    width: 20%;
  }
  .involved-images .books {
    width: 20%;
  }
  details ul, details .ul{
    width: 92%;
  }
  .hundred-width {
    width: 99%;
  }
  .hundred-width .li {
    line-height: 250%;
  }
  .genres-list {
    display: none;
  }
  .images-list {
    display: block;
  }
  .images-list img {
    width: 20%;
    height: 30vh;
    position: relative;
  }
  .img-text {
    position: absolute;
    width: 20%;
    text-align: center;
    transform: translate(-109.5%, 160%);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px white;
  }
  .list-img {
    opacity: 0.6;
    position: relative;
    border: 2px solid black;
  }
  .list-img:hover, .img-text:hover {
    opacity: 1;
    cursor: pointer;
  }
  .genre-ref {
    display: table-row;
  }
  .top-5-all-ps p {
    width: 90%;
    display: block;
  }
  .top-5-all-ps {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  #top-5-image {
    display: inline-block;
    width: 25%;
  }
  #book-changer {
    display: block;
    margin: 2% auto;
  }
  #top-5, #top-5-p2{
    line-height: 125%;
  }
  th {
    font-size: 3vw;
  }
  table {
    margin-left: 4%;
    margin-right: 4%;
  }
  td {
    font-size: 2vw;
  }
  #animation {
    width: 15%;
    margin: 0 42.5%;
    height: 20vh;
    overflow: hidden;
  }
  .ref-img {
    width: 27%;
  }
  .a-button {
    padding: 1%;
  }
  .next-page {
    margin-bottom: 3%;
  }
}
